.custom-editor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
}

.custom-editor__button {
  flex: 0 0 auto;
  border-radius: 6px;
  border: none;
  background-color: #1ea7fd;
  color: white;
  margin-left: 10px;
  padding: 5px 6px;
  outline: none;
  cursor: pointer;
}

.custom-editor__button:hover {
  background-color: #1d8ed6;
}

.custom-editor__picker {
  margin-top: 20px;
}

.custom-editor__picker-active {
  display: block;
}

.custom-editor .DraftEditor-root {
  flex: 1 1 auto;
  min-width: 0;
  font-size: 16px;
  width: 100%;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.custom-editor .emoji-mart-emoji {
  vertical-align: bottom;
  margin: 0 2px;
}
